.background1{
  background: url("/src/images/themes/Groovy/assets/Group 170.png")
    no-repeat;
  background-size: cover;

  height: 600px;
}
.background2{
    background: url("/src/images/themes/Groovy/assets/Group 171.png")
    no-repeat;
  background-size: cover;

  height: 600px;
}
.background3{
    background: url("/src/images/themes/Groovy/assets/Group 175.png")
    no-repeat;
  background-size: cover;
 
  height: 500px;

}

.weHope {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 201%;
    color: #FFFFFF;
}