.p{
    color: #FD3955;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
 
}
.button{
    cursor: pointer;
   padding-left: 20px;
   padding-right: 20px;
    font-weight: 700 !important;
    color: #fff;
    font-size: 18px;
}
.Icon{
    margin-right: 40px;
}
.glassSection{
     font-weight: 500;
    font-size: 66px;
    line-height: 104.4%;


}